@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");
:root {
  --button: #ffd050;
  --border: 12px;
}

button {
  background: transparent;
  border: none !important;
  outline: none;
  border-radius: var(--border) !important;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,
p,
ul {
  padding: 0;
  margin: 0;
}

* {
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 80px;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 1032px) {
  .container {
    padding: 0 30px;
  }
}
@media screen and (max-width: 925px) {
  .container {
    padding: 0 20px;
  }
}
@media screen and (max-width: 480px) {
  .container {
    padding: 0px 15px !important;
  }
}
@media screen and (max-width: 320px) {
  .container {
    padding: 0 10px;
  }
}
nav {
  top: 0;
  z-index: 101;
  padding: 15px 0;
  transition: 0.4s;
  position: -webkit-sticky;
  position: sticky;
  background: #232536;
}

.nav {
  display: flex;
  align-items: center;
  --bs-nav-link-padding-x: none;
  justify-content: space-between;
}

.link-nav,
.link-nav ul {
  gap: 24px;
  display: flex;
  align-items: center;
}

.nav-link a {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  position: relative;
  font-style: normal;
  font-family: "Inter";
}

.nav-link li {
  position: relative;
}

.nav-link li:hover::after {
  left: 0;
  content: "";
  width: 100%;
  z-index: -1;
  height: 50%;
  position: absolute;
  filter: blur(25px);
  background: rgba(255, 255, 255, 0.596);
}

.login-button-navbar {
  margin-left: 52px;
  position: relative;
}

.login-button-navbar:hover::after {
  top: 0%;
  left: 0;
  width: 100%;
  z-index: -2;
  height: 100%;
  content: " ";
  filter: blur(14px);
  position: absolute;
  background: rgba(255, 255, 255, 0.226);
}

.login-button-navbar button {
  font-size: 16px;
  font-weight: 700;
  color: #232536;
  background: #fff;
  padding: 16px 48px;
  font-style: normal;
  border-radius: 12px;
  font-family: "Inter";
}

.hamburger {
  z-index: -1;
  display: none;
}

.close-responsive {
  top: 20px;
  z-index: 0;
  right: 20px;
  display: none;
  position: absolute;
}
.close-responsive img {
  width: 20px;
}

.responsive {
  display: none;
}

.nav-logo a {
  font-family: "Sen";
  color: var(--button);
  font-size: 25px;
}

@media screen and (max-width: 850px) {
  .login-button-navbar {
    margin-left: 0;
  }
  .responsive {
    display: block;
  }
  .nav-logo img {
    width: 90%;
  }
  .hamburger {
    display: block;
  }
  .link-nav {
    top: 0;
    width: 50%;
    right: -100%;
    height: 100vh;
    position: fixed;
    transition: 0.4s linear;
    flex-direction: column;
    justify-content: center;
    background: #232536;
  }
  .link-nav ul {
    align-items: center;
    white-space: nowrap;
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  #id {
    width: 90%;
  }
  .nav-logo img {
    width: 80%;
  }
  .login-button-navbar button {
    font-size: 14px;
    padding: 13px 30px;
  }
  .close-responsive img {
    width: 16px;
  }
}
.glider.draggable {
  -webkit-user-select: inherit !important;
     -moz-user-select: inherit !important;
      -ms-user-select: inherit !important;
          user-select: inherit !important;
  cursor: auto;
}

footer {
  padding-bottom: 54px;
  margin-top: 104px;
  background: #232536;
}
footer .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-left {
  margin-left: 80px;
  padding-top: 54px;
}
footer .footer-left span,
footer .footer-left p {
  opacity: 0.7;
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  line-height: 28px;
  font-style: normal;
  font-family: "Inter";
}
footer .footer-right {
  margin-top: 66px;
  margin-right: 80px;
}

.social-link img {
  width: 17px;
}
.social-link ul {
  gap: 26px;
  display: flex;
  align-items: center;
}
.social-link li:hover {
  transform: scale(1.075);
}

@media screen and (max-width: 670px) {
  .footer-left {
    margin-left: 30px !important;
  }
  .footer-right {
    margin-right: 30px !important;
  }
}
@media screen and (max-width: 560px) {
  footer .footer {
    text-align: center;
    flex-direction: column-reverse;
  }
  .footer-left {
    margin-left: 0px !important;
  }
  .footer-right {
    margin-right: 0px !important;
  }
}
.featured {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  align-items: center;
  gap: 80px;
}
.featured .featured-left,
.featured .featured-right {
  flex: 50%;
}
.featured .featured-info span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #232536;
}
.featured .featured-info h1 {
  margin-top: 15px;
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #232536;
}
.featured .featured-info p {
  margin-top: 57px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6d6e76;
}

.my-post-title {
  margin-top: 40px;
  display: flex;
  padding-bottom: 50px;
  justify-content: space-between;
  align-items: center;
}
.my-post-title span {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: -2px;
  color: #232536;
}

.user-post-box img {
  height: 312px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1100px) {
  .featured .featured-info p {
    margin-top: 16px;
  }
  .featured .featured-info {
    font-size: 15px;
  }
  .featured .featured-info h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 1000px) {
  .featured {
    gap: 28px;
  }
}
@media screen and (max-width: 774px) {
  .featured {
    flex-direction: column-reverse;
  }
  .featured-left {
    width: 500px;
  }
}
@media screen and (max-width: 535px) {
  .featured-left {
    width: inherit;
  }
}
.posts-search {
  margin-top: 70px;
}
.posts-search input {
  border: 1px solid silver;
  width: 100%;
  outline-color: #ffd050;
  padding: 20px 0px 20px 20px;
}

.my-post-all {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 57px;
  gap: 40px;
}

.user-post-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}
.user-post-box .post-left {
  flex: 45%;
}
.user-post-box .post-right {
  flex: 55%;
}

.post-info span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #592ea9;
}
.post-info h1 {
  margin-top: 20px;
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #232536;
}
.post-info p {
  margin-top: 35px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6d6e76;
}

@media screen and (max-width: 939px) {
  .post-info h1 {
    font-size: 29px;
    line-height: 39px;
  }
  .post-info p {
    margin-top: 26px;
  }
}
@media screen and (max-width: 768px) {
  .post-info p {
    margin-top: 12px;
  }
  .post-info h1 {
    font-size: 26px;
    line-height: 33px;
  }
  .post-info p {
    font-size: 14px;
  }
}
@media screen and (max-width: 680px) {
  .user-post-box {
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  .my-post-title span {
    font-size: 33px;
  }
  .my-post-title button {
    padding: 10px 24px;
    background-color: #ffd050;
  }
}
.page-item a {
  cursor: pointer;
}/*# sourceMappingURL=all-post.css.map */