@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");
::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,
p,
ul {
  padding: 0;
  margin: 0;
}

* {
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 80px;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 1260px) {
  .container {
    padding: 0 50px;
  }
}
@media screen and (max-width: 1032px) {
  .container {
    padding: 0 30px;
  }
}
@media screen and (max-width: 925px) {
  .container {
    padding: 0 20px;
  }
}
@media screen and (max-width: 480px) {
  .container {
    padding: 0px 15px !important;
  }
}
@media screen and (max-width: 320px) {
  .container {
    padding: 0 10px;
  }
}
:root {
  --button: #ffd050;
  --border: 12px;
}

button {
  background: transparent;
  border: none !important;
  outline: none;
  border-radius: var(--border) !important;
}

nav {
  top: 0;
  z-index: 101;
  padding: 15px 0;
  transition: 0.4s;
  position: -webkit-sticky;
  position: sticky;
  background: #232536;
}

.nav {
  display: flex;
  align-items: center;
  --bs-nav-link-padding-x: none;
  justify-content: space-between;
}

.link-nav,
.link-nav ul {
  gap: 24px;
  display: flex;
  align-items: center;
}

.nav-link a {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  position: relative;
  font-style: normal;
  font-family: "Inter";
}

.nav-link li {
  position: relative;
}

.nav-link li:hover::after {
  left: 0;
  content: "";
  width: 100%;
  z-index: -1;
  height: 50%;
  position: absolute;
  filter: blur(25px);
  background: rgba(255, 255, 255, 0.596);
}

.login-button-navbar {
  margin-left: 52px;
  position: relative;
}

.login-button-navbar:hover::after {
  top: 0%;
  left: 0;
  width: 100%;
  z-index: -2;
  height: 100%;
  content: " ";
  filter: blur(14px);
  position: absolute;
  background: rgba(255, 255, 255, 0.226);
}

.login-button-navbar button {
  font-size: 16px;
  font-weight: 700;
  color: #232536;
  background: #fff;
  padding: 16px 48px;
  font-style: normal;
  border-radius: 12px;
  font-family: "Inter";
}

.hamburger {
  z-index: -1;
  display: none;
}

.close-responsive {
  top: 20px;
  z-index: 0;
  right: 20px;
  display: none;
  position: absolute;
}
.close-responsive img {
  width: 20px;
}

.responsive {
  display: none;
}

.nav-logo a {
  font-family: "Sen";
  color: var(--button);
  font-size: 25px;
}

@media screen and (max-width: 850px) {
  .login-button-navbar {
    margin-left: 0;
  }
  .responsive {
    display: block;
  }
  .nav-logo img {
    width: 90%;
  }
  .hamburger {
    display: block;
  }
  .link-nav {
    top: 0;
    width: 50%;
    right: -100%;
    height: 100vh;
    position: fixed;
    transition: 0.4s linear;
    flex-direction: column;
    justify-content: center;
    background: #232536;
  }
  .link-nav ul {
    align-items: center;
    white-space: nowrap;
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  #id {
    width: 90%;
  }
  .nav-logo img {
    width: 80%;
  }
  .login-button-navbar button {
    font-size: 14px;
    padding: 13px 30px;
  }
  .close-responsive img {
    width: 16px;
  }
}
.glider.draggable {
  -webkit-user-select: inherit !important;
     -moz-user-select: inherit !important;
      -ms-user-select: inherit !important;
          user-select: inherit !important;
  cursor: auto;
}

footer {
  padding-bottom: 54px;
  margin-top: 104px;
  background: #232536;
}
footer .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-left {
  margin-left: 80px;
  padding-top: 54px;
}
footer .footer-left span,
footer .footer-left p {
  opacity: 0.7;
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  line-height: 28px;
  font-style: normal;
  font-family: "Inter";
}
footer .footer-right {
  margin-top: 66px;
  margin-right: 80px;
}

.social-link img {
  width: 17px;
}
.social-link ul {
  gap: 26px;
  display: flex;
  align-items: center;
}
.social-link li:hover {
  transform: scale(1.075);
}

@media screen and (max-width: 670px) {
  .footer-left {
    margin-left: 30px !important;
  }
  .footer-right {
    margin-right: 30px !important;
  }
}
@media screen and (max-width: 560px) {
  footer .footer {
    text-align: center;
    flex-direction: column-reverse;
  }
  .footer-left {
    margin-left: 0px !important;
  }
  .footer-right {
    margin-right: 0px !important;
  }
}
.startup-section {
  background-color: #f4f0f8;
}

.startup {
  padding: 80px 0;
  text-align: center;
}
.startup .startup-title h1 {
  font-family: "Sen";
  font-weight: 700;
  font-size: 56px;
  color: #232536;
}
.startup .startup-title p {
  width: 500px;
  margin: 16px auto 0 auto;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  color: #6d6e76;
}
.startup .startup-bottom {
  margin-top: 32px;
}
.startup .startup-bottom span {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #232536;
}

.active {
  background-color: #592ea9;
  color: white !important;
  border: none !important;
}

.user-category-left {
  flex: 45%;
}

.category-right {
  flex: 65%;
}

@media screen and (max-width: 550px) {
  .startup .startup-title h1 {
    font-size: 45px;
  }
  .startup-title p {
    width: inherit !important;
  }
}
@media screen and (max-width: 332px) {
  .startup .startup-title p p {
    font-size: 14px !important;
    width: inherit !important;
  }
}
.category-content {
  display: flex;
  justify-content: space-between;
  gap: 65px;
}
.category-content .filter-title span {
  font-family: "Sen";
  font-weight: 700;
  font-size: 30px;
  color: #232536;
}

.category-all {
  position: relative;
}
.category-all .category-seaching {
  margin-top: 57px;
  margin-bottom: 57px;
  text-align: center;
}
.category-all .category-seaching input {
  outline: none;
  color: rgb(77, 73, 73);
  font-size: 14px;
  border: 1px solid silver;
  padding: 20px;
  width: 100%;
  border-radius: 10px;
}

.user-category-left {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.user-category-box {
  width: 100%;
  gap: 32px;
  display: flex;
}
.user-category-box img {
  height: 312px;
  -o-object-fit: cover;
     object-fit: cover;
}

.category-info span {
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  color: #592ea9;
}
.category-info h1 {
  margin-top: 26px;
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #232536;
}
.category-info p {
  margin-top: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6d6e76;
}

.category-filter {
  width: 229px;
}

.filter-button {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
}
.filter-button button {
  padding: 10px 20px;
  border: 1px solid #232536 !important;
  font-family: "Sen";
  font-weight: 700;
  font-size: 14px;
  transition: 0.2s linear;
  color: #232536;
}
.filter-button button:hover {
  background-color: #592ea9;
  color: #fff;
  transform: translate(-5px);
}

.setting-filter {
  display: none;
}

.close-filter-btn {
  display: none;
}

.category-filter {
  display: block;
}

.loading-category {
  display: flex;
  justify-content: center;
  gap: 35px;
}
.loading-category span {
  display: block;
}
.loading-category .loading-left {
  width: 50%;
}
.loading-category .loading-left span {
  height: 318px;
  width: 100%;
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  -webkit-animation: 1.5s shine linear infinite;
          animation: 1.5s shine linear infinite;
}
.loading-category .loading-right {
  width: 50%;
}
.loading-category .loading-right span {
  height: 20px;
  width: 100%;
  margin-top: 20px;
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  -webkit-animation: 1.5s shine linear infinite;
          animation: 1.5s shine linear infinite;
}
.loading-category .loading-right span:first-child {
  width: 180px;
}
.loading-category .loading-right span:nth-child(2) {
  height: 96px;
}
.loading-category .loading-right span:nth-child(3) {
  height: 56px;
}

@-webkit-keyframes shine {
  to {
    background-position-x: -200%;
  }
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
@media screen and (max-width: 1160px) {
  .category-info h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 1050px) {
  .category-info h1 {
    font-size: 30px;
  }
  .user-category-box img {
    height: 265px;
  }
  .category-info h1 {
    font-size: 25px;
  }
  .category-content .filter-title span {
    font-size: 26px;
  }
  .category-info h1 {
    margin-top: 10px;
  }
  .category-info p {
    font-size: 14px;
    line-height: 22px;
  }
}
@media screen and (max-width: 900px) {
  .user-category-box img {
    height: 236px;
  }
}
@media screen and (max-width: 865px) {
  .user-category-box {
    width: 80%;
    margin: auto;
    flex-direction: column;
  }
  .user-category-box img {
    height: inherit;
  }
  .loading-category {
    flex-direction: column;
  }
  .loading-left,
.loading-right {
    width: 100% !important;
  }
  .category-info {
    padding-left: 10px;
    width: 80%;
  }
  .user-category-left {
    gap: 60px;
  }
  .category-seaching {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .setting-filter {
    display: block;
  }
  .search-input {
    width: 100%;
  }
  .category-filter {
    width: 280px;
    padding: 20px;
    background: #fff;
    position: absolute;
    top: 0px;
    right: 0;
    display: none;
    border-radius: 0px 0px 0 20px;
  }
  .category-content .filter-title span {
    font-size: 23px;
  }
  .close-filter-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    margin-top: 10px;
  }
  .close-filter-btn img {
    width: 14px;
  }
}
@media screen and (max-width: 560px) {
  .user-category-box {
    width: 95%;
  }
}
@media screen and (max-width: 460px) {
  .user-category-box {
    width: 100%;
  }
}
@media screen and (max-width: 370px) {
  .link-nav {
    width: 70%;
  }
}/*# sourceMappingURL=category.css.map */