@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");
:root {
  --navcolor: #232536;
  --button: #ffd050;
  --border: 12px;
}

nav {
  top: 0;
  z-index: 101;
  padding: 15px 0;
  transition: 0.4s;
  position: -webkit-sticky;
  position: sticky;
  background: var(--navcolor);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link-nav,
.link-nav ul {
  gap: 24px;
  display: flex;
  align-items: center;
}

.nav-link a {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  position: relative;
  font-style: normal;
  font-family: "Inter";
}

.nav-link li {
  position: relative;
}

.nav-link li:hover::after {
  left: 0;
  content: "";
  width: 100%;
  z-index: -1;
  height: 50%;
  position: absolute;
  filter: blur(25px);
  background: rgba(255, 255, 255, 0.596);
}

.login-button {
  margin-left: 52px;
  position: relative;
}

.login-button:hover::after {
  top: 0%;
  left: 0;
  width: 100%;
  z-index: -2;
  height: 100%;
  content: " ";
  filter: blur(14px);
  position: absolute;
  background: rgba(255, 255, 255, 0.226);
}

.login-button button {
  font-size: 16px;
  font-weight: 700;
  color: #232536;
  background: #fff;
  padding: 16px 48px;
  font-style: normal;
  border-radius: 12px;
  font-family: "Inter";
}

.hamburger {
  z-index: -1;
  display: none;
}

.close-responsive {
  top: 20px;
  z-index: 0;
  right: 20px;
  display: none;
  position: absolute;
}
.close-responsive img {
  width: 20px;
}

.responsive {
  display: none;
}

@media screen and (max-width: 958px) {
  .container {
    padding: 0 50px !important;
  }
}
@media screen and (max-width: 850px) {
  .container {
    padding: 0 15px !important;
  }
  .login-button {
    margin-left: 0;
  }
  .responsive {
    display: block;
  }
  .nav-logo img {
    width: 90%;
  }
  .hamburger {
    display: block;
  }
  .link-nav {
    top: 0;
    width: 50%;
    right: -100%;
    height: 100vh;
    position: fixed;
    transition: 0.4s linear;
    flex-direction: column;
    justify-content: center;
    background: var(--navcolor);
  }
  .link-nav ul {
    align-items: center;
    white-space: nowrap;
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  #id {
    width: 90%;
  }
  .nav-logo img {
    width: 80%;
  }
  .login-button button {
    font-size: 14px;
    padding: 13px 30px;
  }
}
.glider.draggable {
  -webkit-user-select: inherit !important;
     -moz-user-select: inherit !important;
      -ms-user-select: inherit !important;
          user-select: inherit !important;
  cursor: auto;
}

footer {
  padding-bottom: 54px;
  margin-top: 104px;
  background: #232536;
}
footer .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-left {
  margin-left: 80px;
  padding-top: 54px;
}
footer .footer-left span,
footer .footer-left p {
  opacity: 0.7;
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  line-height: 28px;
  font-style: normal;
  font-family: "Inter";
}
footer .footer-right {
  margin-top: 66px;
  margin-right: 80px;
}

.social-link img {
  width: 17px;
}
.social-link ul {
  gap: 26px;
  display: flex;
  align-items: center;
}
.social-link li:hover {
  transform: scale(1.075);
}

@media screen and (max-width: 670px) {
  .footer-left {
    margin-left: 30px !important;
  }
  .footer-right {
    margin-right: 30px !important;
  }
}
@media screen and (max-width: 560px) {
  footer .footer {
    text-align: center;
    flex-direction: column-reverse;
  }
  .footer-left {
    margin-left: 0px !important;
  }
  .footer-right {
    margin-right: 0px !important;
  }
}
button {
  background: transparent;
  border: none !important;
  outline: none;
  border-radius: var(--border) !important;
}

.main-section {
  margin: auto;
  height: 100%;
  background: radial-gradient(30.56% 76.04% at 74.58% 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
}

.main {
  position: relative;
  height: 720px;
}

.main-image img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.main-word {
  top: 128px;
  width: 793px;
  position: relative;
}

.main-button button {
  font-size: 15px;
  color: #232536;
  font-weight: 700;
  line-height: 24px;
  font-family: "Sen";
  padding: 16px 48px;
  background: var(--button);
}

.main-button button:hover {
  background-color: #fdd873;
}

.main-title span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.main-title h1 {
  margin-top: 24px;
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: -2px;
}

.main-discription {
  width: 599px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.main-word-date {
  margin-top: 24px;
  margin-bottom: 16px;
}
.main-word-date span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.main-button {
  font-size: 18px;
  margin-top: 48px;
  font-weight: 700;
  font-family: "Sen";
  position: relative;
}

.user-name {
  color: blue;
}

@media screen and (max-width: 880px) {
  .main-word {
    width: 663px;
  }
}
@media screen and (max-width: 680px) {
  .main-word {
    width: 470px;
  }
  .main-discription {
    width: inherit;
  }
}
@media screen and (max-width: 510px) {
  .main-word {
    width: 371px;
  }
  .main-word .main-title h1 {
    font-size: 45px;
  }
}
@media screen and (max-width: 420px) {
  .main-word {
    width: 290px;
  }
  .main-word .main-title h1 {
    font-size: 36px;
  }
  .main-discription {
    font-size: 13px;
  }
  .main-word-date span {
    font-size: 13px;
  }
  .main-button button {
    font-size: 13px;
    padding: 11px 22px;
  }
}
@media screen and (max-width: 320px) {
  .container {
    padding: 0 10px;
  }
  .main-word {
    width: 260px;
  }
  .main-word .main-title h1 {
    font-size: 33px;
  }
  .main-word-date span {
    font-size: 12px;
  }
  .main-title span {
    font-size: 14px;
  }
}
@media screen and (max-width: 290px) {
  .link-nav {
    width: 70%;
  }
  .close-responsive img {
    width: 15px;
  }
}
.nav-link a {
  font-size: 15px;
}

.popular-blogs {
  margin-top: 94px;
}

.blogs-title {
  margin-top: 64px;
}
.blogs-title h1 {
  color: red;
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -2px;
  color: #000000;
}

.user-blogs-info {
  margin-top: 32px;
  margin-bottom: 16px;
}
.user-blogs-info span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #4c4c4c;
}

.blogs-info span {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -1px;
  color: #232536;
}

.blogs-discription {
  margin: 16px 0;
}
.blogs-discription p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #232536;
  opacity: 0.7;
}

.popular-content-blogs {
  overflow: hidden;
}

@media screen and (max-width: 1178px) {
  .blogs-info span {
    font-size: 24px;
  }
  .blogs-discription p {
    font-size: 14px;
  }
}
@media screen and (max-width: 1032px) {
  .blogs-info span {
    font-size: 21px;
  }
}
.container-slider {
  padding: 4rem 2rem;
  margin: 0 auto;
}

.container-slider .glider-contain .glider {
  padding-bottom: 66px;
  border-bottom: 1px solid silver;
  gap: 25px !important;
}
.container-slider .glider-contain .glider img {
  display: block;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.container-slider .glider-contain .glider-prev,
.container-slider .glider-contain .glider-next {
  font-size: 1.5rem;
  background: #454545;
  color: #ffffff;
  margin-top: 1rem;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  border-radius: 50%;
}
.container-slider .glider-contain .glider-prev .fas,
.container-slider .glider-contain .glider-next .fas {
  margin-left: 1rem;
}

.glider-track {
  gap: 30px;
}

@media only screen and (max-width: 768px) {
  .main .glider-contain .glider-prev,
.main .glider-contain .glider-next {
    display: none;
  }
}
@media only screen and (min-width: 769px) {
  .main .glider-contain .dots {
    display: none;
  }
}
@media screen and (max-width: 490px) {
  .blogs-title h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 360px) {
  .blogs-title h1 {
    font-size: 25px;
  }
}
.choose-category {
  margin-top: 69px;
}
.choose-category .choose-category-title {
  text-align: center;
}
.choose-category .choose-category-title span {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -2px;
  color: #232536;
}
.choose-category .category-content {
  margin-top: 73.8px;
  display: flex;
  gap: 32px;
}
.choose-category .category-box {
  transition: 0.2s linear;
  width: 296px;
  border-radius: var(--border);
  padding: 26.33px 32px;
  border: 1px solid silver;
}
.choose-category .category-box .category-image {
  width: 48px;
  border-radius: 10px;
  background: #fff;
}
.choose-category .category-box .category-image img {
  width: inherit;
}
.choose-category .category-box .category-info span {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: -1px;
  color: #232536;
}
.choose-category .category-box .category-info p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6d6e76;
}

.category-box:hover {
  transform: scale(1.048);
  background-color: #ffd050;
}

@media screen and (max-width: 1100px) {
  .choose-category .category-box {
    padding: 26.33px 24px;
  }
}
@media screen and (max-width: 760px) {
  .choose-category .category-box {
    width: 210px;
  }
  .category-content {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 582px) {
  .choose-category .category-box {
    width: 100%;
  }
  .category-box:hover {
    transform: scale(1.018);
    background-color: #ffd050;
  }
}
::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,
p,
ul {
  padding: 0;
  margin: 0;
}

* {
  color: #fff;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 80px;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */