@import "../main.scss";
@import "../layout/nav";
@import "../layout/footer";

.featured {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  align-items: center;
  gap: 80px;
  .featured-left,
  .featured-right {
    flex: 50%;
  }
  .featured-info {
    span {
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      color: #232536;
    }
    h1 {
      margin-top: 15px;
      font-family: "Sen";
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      color: #232536;
    }
    p {
      margin-top: 57px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      color: #6d6e76;
    }
  }
}

.my-post-title {
  margin-top: 40px;
  display: flex;
  padding-bottom: 50px;
  justify-content: space-between;
  align-items: center;
  span {
    font-family: "Sen";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: -2px;
    color: #232536;
  }
}
.user-post-box {
  img {
    height: 312px;
    object-fit: cover;
  }
}
@media screen and (max-width: 1100px) {
  .featured .featured-info p {
    margin-top: 16px;
  }
  .featured .featured-info {
    font-size: 15px;
  }
  .featured .featured-info h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 1000px) {
  .featured {
    gap: 28px;
  }
}

@media screen and (max-width: 774px) {
  .featured {
    flex-direction: column-reverse;
  }
  .featured-left {
    width: 500px;
  }
}
@media screen and (max-width: 535px) {
  .featured-left {
    width: inherit;
  }
}

.posts-search {
  .input {
    width: 100%;
  }
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 70px;
  input {
    border-radius: 15px;
    border: 1px solid silver;
    width: 100%;
    outline-color: #ffd050;
    padding: 20px 0px 20px 20px;
  }
  button {
    background-color: #ffd050;
    padding: 17px;
    img {
      width: 25px;
    }
  }
}

.my-post-all {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 57px;
  gap: 40px;
}
.user-post-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  .post-left {
    flex: 45%;
  }
  .post-right {
    flex: 55%;
  }
}
.post-info {
  span {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #592ea9;
  }
  h1 {
    margin-top: 20px;
    font-family: "Sen";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #232536;
  }
  p {
    margin-top: 35px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6d6e76;
  }
}

@media screen and (max-width: 939px) {
  .post-info h1 {
    font-size: 29px;
    line-height: 39px;
  }
  .post-info p {
    margin-top: 26px;
  }
}
@media screen and (max-width: 768px) {
  .post-info p {
    margin-top: 12px;
  }
  .post-info h1 {
    font-size: 26px;
    line-height: 33px;
  }
  .post-info p {
    font-size: 14px;
  }
}
@media screen and (max-width: 680px) {
  .user-post-box,
  .loading-category {
    align-items: inherit;
    flex-direction: column;
  }
  .post-info {
    padding-left: 10px;
  }
  .loading-left,
  .loading-right {
    margin: auto;
    width: 100% !important;
  }
  .loading-right {
    span:first-child {
      margin-top: 0 !important;
    }
    span:nth-child(2) {
      margin-top: 15px;
      height: 70px !important;
    }
    span:nth-child(3) {
      height: 56px;
    }
  }
}
@media screen and (max-width: 500px) {
  .my-post-title span {
    font-size: 33px;
  }
  .my-post-title button {
    padding: 10px 24px;
    background-color: #ffd050;
  }
}
.page-item {
  a {
    cursor: pointer;
  }
}

.loading-category {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  span {
    display: block;
  }
  .loading-left {
    width: 50%;
    span {
      height: 318px;
      width: 100%;
      background: #eee;
      background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
      border-radius: 5px;
      background-size: 200% 100%;
      animation: 1.5s shine linear infinite;
    }
  }
  .loading-right {
    width: 50%;
    span {
      height: 20px;
      width: 100%;
      margin-top: 20px;
      background: #eee;
      background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
      border-radius: 5px;
      background-size: 200% 100%;
      animation: 1.5s shine linear infinite;
    }
    span:first-child {
      width: 180px;
    }
    span:nth-child(2) {
      height: 96px;
    }
    span:nth-child(3) {
      height: 56px;
    }
  }
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
.user-post-box {
  position: relative;
}
.link-category {
  position: absolute;
  top: 0;
  right: 15px;
  img {
    width: 15px;
    height: inherit;
  }
}
