@import "../main.scss";
@import "../layout/nav";
@import "../layout/footer";
.startup-section {
  background-color: #f4f0f8;
}
.startup {
  padding: 80px 0;
  text-align: center;
  .startup-title {
    h1 {
      font-family: "Sen";
      font-weight: 700;
      font-size: 56px;
      color: #232536;
    }
    p {
      width: 500px;
      margin: 16px auto 0 auto;
      font-family: "Inter";
      font-weight: 400;
      font-size: 16px;
      color: #6d6e76;
    }
  }
  .startup-bottom {
    margin-top: 32px;
    span {
      font-family: "Inter";
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #232536;
    }
  }
}
.active {
  background-color: #592ea9;
  color: white !important;
  border: none !important;
}
.user-category-left {
  flex: 45%;
}
.category-right {
  flex: 65%;
}
@media screen and (max-width: 550px) {
  .startup .startup-title h1 {
    font-size: 45px;
  }
  .startup-title {
    p {
      width: inherit !important;
    }
  }
}
@media screen and (max-width: 332px) {
  .startup .startup-title p {
    p {
      font-size: 14px !important;
      width: inherit !important;
    }
  }
}
.category-content {
  display: flex;
  justify-content: space-between;
  gap: 65px;
  .filter-title {
    span {
      font-family: "Sen";
      font-weight: 700;
      font-size: 30px;
      color: #232536;
    }
  }
}

.category-all {
  position: relative;
  .category-seaching {
    margin-top: 57px;
    margin-bottom: 57px;
    text-align: center;
    input {
      outline: none;
      color: rgb(77, 73, 73);
      font-size: 14px;
      border: 1px solid silver;
      padding: 20px;
      width: 100%;
      border-radius: 10px;
    }
  }
}

.user-category-left {
  display: flex;
  flex-direction: column;
  gap: 32px;
  // flex-basis: 30%;
}
// .category-right {
//   flex-basis: 80%;
// }

.user-category-box {
  width: 100%;
  gap: 32px;
  display: flex;
  img {
    height: 312px;
    object-fit: cover;
  }
}
.category-info {
  span {
    font-family: "Inter";
    font-weight: 600;
    font-size: 16px;
    color: #592ea9;
  }
  h1 {
    margin-top: 26px;
    font-family: "Sen";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #232536;
  }
  p {
    margin-top: 16px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6d6e76;
  }
}
.category-filter {
  width: 229px;
}
.filter-button {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  button {
    padding: 10px 20px;
    border: 1px solid#232536 !important;
    font-family: "Sen";
    font-weight: 700;
    font-size: 14px;
    transition: 0.2s linear;
    color: #232536;
  }
  button:hover {
    background-color: #592ea9;
    color: #fff;
    transform: translate(-5px);
  }
}
.setting-filter {
  display: none;
}
.close-filter-btn {
  display: none;
}
.category-filter {
  display: block;
}

.loading-category {
  display: flex;
  justify-content: center;
  gap: 35px;
  span {
    display: block;
  }
  .loading-left {
    width: 50%;
    span {
      height: 318px;
      width: 100%;
      background: #eee;
      background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
      border-radius: 5px;
      background-size: 200% 100%;
      animation: 1.5s shine linear infinite;
    }
  }
  .loading-right {
    width: 50%;
    span {
      height: 20px;
      width: 100%;
      margin-top: 20px;
      background: #eee;
      background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
      border-radius: 5px;
      background-size: 200% 100%;
      animation: 1.5s shine linear infinite;
    }
    span:first-child {
      width: 180px;
    }
    span:nth-child(2) {
      height: 96px;
    }
    span:nth-child(3) {
      height: 56px;
    }
  }
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

@media screen and (max-width: 1160px) {
  .category-info h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 1050px) {
  .category-info h1 {
    font-size: 30px;
  }
  .user-category-box img {
    height: 265px;
  }
  .category-info h1 {
    font-size: 25px;
  }
  .category-content .filter-title span {
    font-size: 26px;
  }
  .category-info h1 {
    margin-top: 10px;
  }
  .category-info p {
    font-size: 14px;
    line-height: 22px;
  }
}
@media screen and (max-width: 900px) {
  .user-category-box img {
    height: 236px;
  }
}
@media screen and (max-width: 865px) {
  .user-category-box {
    width: 80%;
    margin: auto;
    flex-direction: column;
    img {
      height: inherit;
    }
  }
  .category-info {
    padding-left: 10px;
    width: 80%;
  }
  .user-category-left {
    gap: 60px;
  }
  .category-seaching {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .setting-filter {
    display: block;
  }
  .search-input {
    width: 100%;
  }
  .category-filter {
    width: 280px;
    padding: 20px;
    background: #fff;
    position: absolute;
    top: 0px;
    right: 0;
    display: none;
    border-radius: 0px 0px 0 20px;
  }
  .category-content .filter-title span {
    font-size: 23px;
  }
  .close-filter-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    margin-top: 10px;
    img {
      width: 14px;
    }
  }
}
@media screen and (max-width: 560px) {
  .user-category-box {
    width: 95%;
  }
}

@media screen and (max-width: 460px) {
  .user-category-box {
    width: 100%;
  }
}
