::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
h1,
p,
ul {
  padding: 0;
  margin: 0;
}

* {
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 80px;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
}

@media screen and (max-width: 1260px) {
  .container {
    padding: 0 50px ;
  }
}
@media screen and (max-width: 1032px) {
  .container {
    padding: 0 30px;
  }
}
@media screen and (max-width: 925px) {
  .container {
    padding: 0 20px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0px 15px !important;
  }
}
@media screen and (max-width: 320px) {
  .container {
    padding: 0 10px;
  }
}
